body {
  background-image: url('../regal.png');
  background-color: #879BAF;
  text-align: center;
  font-family: 'Forum', cursive;
  color: black;
}

.inner {
  padding: 30px;
}
.textbox {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 30px;
  padding-top: 10px;
}

a {
  color: #64313E;
}

.nav-link {
  font-size: 20px;
}

.img-home {
  display: inline-block;
  height: 300px;
}

#party {
  padding: 30px;
}

#travel {
  padding-bottom: 30px;
}

h2, h3, h1 {
  color: #223A5E
}
